@import "bootstrap/bootstrap.less";
@import "bootstrap/navbar.less";
body {
	font-family: arial;
	font-size: 1em;
	background: url(../images/bg-pattern-light.png); 
	padding-top:90px; 
	color:#555555 !important; 
}

header {
	border-bottom: 1px solid #a0a0a0;
	margin-bottom: 10px
}


.footer {
  
}


#content {
	height: 400px;
}

.field label {
	float: left;
	min-width: 150px;
}

.navbar{

  background: url(../images/bg-pattern-dark.png);
  position:fixed; width:100%;top:0;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            
}
.navbar .container {color:#fff;
	.pull-right{margin-right:10px;
		a.signinFB{
			margin-top:30px; 
			font-weight:bold;
			color:#fff;
			text-decoration:underline;
		}
		img.fbLogin{height:60px; margin:5px 0 5px 20px;}
	}
	img.profilePic{height:40px; margin:15px 5px 15px 20px;}
	h2{display:inline;
		img.logo{height:60px; margin:5px 0 5px 20px;}
	}
}
.nav.nav-list{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#44423D;
	width:50px;
	margin-left:20px;
	li{
		border-bottom:1px solid #6E6D70;
		a{color:#fff;
		background-color:#91B81D;}
		a:hover{background-color:#01B3BF;}
	}
	
}
#innerContent{
	border:2px solid #6E6D70;
}