@import "bootstrap/bootstrap.less";
@import "bootstrap/navbar.less";
body {
	font-family: 'Michroma', sans-serif;
	font-size: 1em;
	background: url(../images/bg-pattern-light.png); 
	padding-top:90px; 
	color:#4B4B48 !important; 
}
	.navbar .topnav{
	border-top:3px solid #4B4B48;
	.container{
		width:90%;
	}
	h1{
		color:#EBEBE9; 
		font-family: 'Stint Ultra Expanded', cursive;
	}
	a{
		img.logo{height:50px; margin:5px 0 5px 20px;}
	}
	z-index:10000;
	background: url(../images/bg-pattern-dark.png);
 	   -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            
}
.navbar.footer{
	z-index:10000;
  width:100%;
  padding:5px;
  margin:0;
  background: url(../images/bg-pattern-dark.png);
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            
}
.centerContent{
	.container{width:90%;}
}

/* three Panel styles */

#threePanel .span3{
	border:5px solid #484644;
	height:100px;
	background-color:#A2BE46;
	border-radius:10px;
}
	
/*
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'ABeeZee', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Crete Round', serif;
font-family: 'Trade Winds', cursive;
font-family: 'Michroma', sans-serif;
font-family: titan-one, serif;
*/